gateway/status.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://ws.status.factory.flowercompany.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.status.factory.flowercompany.com" targetNamespace="http://ws.status.factory.flowercompany.com">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ws.status.factory.flowercompany.com">

    <xs:element name="getStatusRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getStatusResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="status" type="tns:status"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="status">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
            <xs:element name="price" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getStatusResponse">
    <wsdl:part element="tns:getStatusResponse" name="getStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getStatusRequest">
    <wsdl:part element="tns:getStatusRequest" name="getStatusRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="StatusPort">
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatusRequest" name="getStatusRequest">
    </wsdl:input>
      <wsdl:output message="tns:getStatusResponse" name="getStatusResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatusPortSoap11" type="tns:StatusPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction=""/>
      <wsdl:input name="getStatusRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getStatusResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatusPortService">
    <wsdl:port binding="tns:StatusPortSoap11" name="StatusPortSoap11">
      <soap:address location="http://localhost:8083/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>